@use "../../../node_modules/sass-pire/src/sass-pire.scss" as *;

@font-face {
    font-display: swap;
    font-family: "Fraunces", sans-serif;
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/fraunces-v31-latin-700.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    src: url("./assets/fonts/montserrat-v26-latin-500.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/montserrat-v26-latin-700.woff2") format("woff2");
}

:root {
    --fem-fz-base: 14px;
    --fem-ff-fra: "Fraunces";
    --fem-ff-mont: "Montserrat";
}

::selection {
    background-color: var(--fem-dark-cyan-clr);
    color: var(--fem-white-clr);
}

body {
    font-size: var(--fem-fz-base);
    background-color: var(--fem-cream-clr);
    @include flex-center-center();
}
